@font-face {
  font-family: 'MiSans';
  src: url('./assets/MiSans-Regular.woff');
}
* {
  font-family: 'MiSans', serif;
  font-weight: 600;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
#root {
  background: inherit;
}
#root::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('./assets/backgroudImg.jpg') center / cover no-repeat;
  filter: blur(20px);
  z-index: -1;
}
.headPortraitContainer {
  top: calc(50% - 120px);
  left: calc(50% - 340px);
}
.menuBar {
  height: 100px;
  top: -60px;
}
.selfIntroduction {
  flex: 4;
  color: #465d4c;
}
.selfIntroductionText {
  top: calc(50% - 65px);
  left: calc(50% - 200px);
}
